{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - Profile{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}

{% block main_dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-2 d-flex justify-content-center">
                <div class="logo-usuario rounded-circle d-flex justify-content-center">
                    <h1>{{ nameInitial }}{{ lastNameInitial }}</h1>
                </div>
            </div>
            <div class="col-10 p-3 bg-light rounded">
                <div class="row">
                    <h3>{{ nameInitial }}. {{ user.lastname }}</h3>
                </div>
                <div class="row">

                    <h6 class="lead">
                        {% if user.roles[0] == 'ROLE_USER' %}User{% endif %}
                        {% if user.roles[0] == 'ROLE_SUPERVISOR' %}Supervisor{% endif %}
                        {% if user.roles[0] == 'ROLE_ADMIN' %}Administrator{% endif %}
                    </h6>
                </div>
            </div>
        </div>

        <hr class="my-4 col-12">

        <div class="row">

            <form action="" method="post" class="container">

                <div class="row d-flex justify-content-center">

                    <div class="col-md-10 col-12 my-2">

                        <h4 class="title-block-formulario">Datos Personales</h4>
                        <div class="area-personal-perfil-usuario">

                            <div class="form-row">
                                <div class="form-group col-md-3 col-12">
                                    <label for="name">Nombre:</label>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label for="name">{{ user.name }}</label>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="collapse" id="editar-nombre">
                                        <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#editar-nombre" role="button" aria-expanded="false" aria-controls="collapseExample">Editar Nombre</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="last-name">Apellidos:</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="last-name">{{ user.lastname }}</label>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="collapse" id="editar-apellidos">
                                        <input type="text" class="form-control" id="last-name" placeholder="Escribe tus apellidos">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#editar-apellidos" role="button" aria-expanded="false" aria-controls="collapseExample">Editar Apellidos</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="email">Email:</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="email">{{ user.email }}</label>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="collapse" id="editar-email">
                                        <input type="email" class="form-control" id="email" placeholder="Escribe tu email">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#editar-email" role="button" aria-expanded="false" aria-controls="collapseExample">Editar Apellidos</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#editar-password" role="button" aria-expanded="false" aria-controls="collapseExample">Cambiar Contraseña</button>
                                </div>
                                <div class="form-group col-md-9">
                                    <div class="collapse" id="edit-password">
                                        <input type="email" class="form-control" id="password" placeholder="Escribe tu contraseña">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-10 col-12 my-2">
                        <h4 class="title-block-formulario">Datos de la Empresa</h4>
                        <div class="area-personal-perfil-usuario">



                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="company-name">Empresa:</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="example-number-input">{{ user.company }}</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="department-name">Departamento:</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="role">{{ user.department }}</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="phone">Teléfono</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="example-number-input">+34 {{ user.phone }}</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-10 col-12 my-2">
                        <button type="button" class="btn btn-outline-primary" id="editUserProfile">Guardar Cambios</button>
                    </div>

                </div>

            </form>

        </div>
    </div>
{% endblock %}

{% block head_js %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/../assets/js/UserModule/UserModule.js"></script>

{% endblock %}