{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block main_dashboard %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    
        <!-- Login Form -->
        <form method="POST">
            <h2 class="h2-login">Login</h2>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="email" class="form-control login" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control login" placeholder="password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary btn-login">Log In</button>
        </form>

        </div>
    </div>
{% endblock %}
