<div class="container">

    <div class="row">
        <div class="col-3">
            <h4>Año:{{ calendar.workingYear }}</h4>
        </div>


        <div class="col-3">
            <h4>Fecha disponible:</h4>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="row"><h6 id="init-date-day-off">{{ calendar.initDate }}</h6></div>
            </div>
            <div class="row">
                <div class="row"><h6 id="end-date-day-off">{{ calendar.endDate }}</h6></div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <div class="rounded days-available container">
                <div class="row days-available-numeric"><p class="tex-center mx-auto remaining-day-holiday">{{ remainig_days.Holiday }}</p></div>
                <div class="row days-available-chain"><p class="tex-center mx-auto">días de</p></div>
                <div class="row days-available-chain"><p class="tex-center mx-auto">vacaciones</p></div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <div class="rounded days-available container">
                <div class="row days-available-numeric"><p class="tex-center mx-auto remaining-day-personal">{{ remainig_days.Personal }}</p></div>
                <div class="row days-available-chain"><p class="tex-center mx-auto">días</p></div>
                <div class="row days-available-chain"><p class="tex-center mx-auto">personales</p></div>
            </div>
        </div>

    </div>

</div>


</div>
<div class="row contenedor-area-formulario-vacaciones" id="contenedor-area-formulario-vacaciones">
    <div class="container my-2">
        <h5>Seleccionar un rango de fechas para solicitar vacaciones</h5>
        <div class="row">
            <div class="col-md-6">
                <label for="start">Primer día de vacaciones:</label>
                <input type="date" id="start" class="form-control date-range init-range" name="trip-start" value="yyyy-mm-dd" min="{{ calendar.initDate }}" max="{{ calendar.endDate }}">
            </div>
            <div class="col-md-6">
                <label for="end">Último día de vacaciones:</label>
                <input type="date" id="end" class="form-control date-range end-range" name="trip-start" value="yyyy-mm-dd" min="{{ calendar.initDate }}" max="{{ calendar.endDate }}">
            </div>
        </div>
    </div>

    <div class="col-xl-8 col-md-10 col-12 container my-2"><!-- ? Calendario-->

        {% include 'dayoff_form/calendar/calendar_info.html.twig' %}

    </div><!-- ? Fin del Calendario-->

    <div class="col-xl-4 col-md-8 col-12 container my-2">

        <div class="container contenedor-dias-vacaciones">

            <form>
                <input type="hidden" id="feast-days-calendar-collection" value="{{ feast_days }}">
                <input type="hidden" id="work-days-calendar-collection" value="{{ working_days|json_encode() }}">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p class="title-days-selected" id="year-selected">Year selected: {{ calendar.workingYear }}</p>

                        <label for="type-day-off-form-select">Solicitar días de:</label>
                        <select class="form-control" id="type-day-off-form-select">
                            <option value="Holiday">Días de Vacaciones</option>
                            <option value="Personal">Días Personales</option>
                            <option value="Work_off">Baja Laboral</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <label class="title-days-selected count-days-selected">Días seleccionados: 0</label>
                    <div class="card-body contenedor-dias-vacaciones-seleccionados">
                        <ul class="list-group dates-selected-calendar">
                        </ul>
                    </div>
                </div>


                <div class="form-row container-btn-formulario">
                    <div class="form-group col-md-6 d-flex justify-content-center">

                        <button type="button" class="btn btn-danger" id="remove-day-off-form">
                            Remove
                        </button>

                    </div>
                    <div class="form-group col-md-6 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" id="save-day-off-form">
                        Save
                    </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

