<div class="list-group-item">
    <div class="row">
        <div class="col-4 text-center">
            {{ department.departmentName }}
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#edit-department-name-{{ department.departmentId }}" role="button" aria-expanded="false" aria-controls="collapseEditNameDepartment">Editar nombre departamento</button>
                </div>
                <div class="col-md-8">
                    <div class="collapse" id="edit-department-name-{{ department.departmentId }}">
                        <input type="text" class="form-control" id="Name" placeholder="Escribe el nuevo nombre del departamento">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 text-center">
            {{ department.departmentCode }}
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-link" data-toggle="collapse" href="#edit-code-deptartment-{{ department.departmentId }}" role="button" aria-expanded="false" aria-controls="collapseEditCodeDepartment">Editar código departamento</button>
                </div>
                <div class="col-md-8">
                    <div class="collapse" id="edit-code-deptartment-{{ department.departmentId }}">
                        <input type="text" class="form-control" id="Name" placeholder="Escribe el nuevo código del departamento">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>